/* Coolors Exported Palette - https://coolors.co/192a32-f2b237-31c4be-a8bec9-1f3540 */

/* CSS HEX */
--gunmetal: #192A32ff;
--xanthous: #F2B237ff;
--robin-egg-blue: #31C4BEff;
--powder-blue: #A8BEC9ff;
--gunmetal-2: #1F3540ff;

/* CSS HSL */
--gunmetal: hsla(199, 33%, 15%, 1);
--xanthous: hsla(39, 88%, 58%, 1);
--robin-egg-blue: hsla(178, 60%, 48%, 1);
--powder-blue: hsla(200, 23%, 72%, 1);
--gunmetal-2: hsla(200, 35%, 19%, 1);

/* SCSS HEX */
$gunmetal: #192A32ff;
$xanthous: #F2B237ff;
$robin-egg-blue: #31C4BEff;
$powder-blue: #A8BEC9ff;
$gunmetal-2: #1F3540ff;

/* SCSS HSL */
$gunmetal: hsla(199, 33%, 15%, 1);
$xanthous: hsla(39, 88%, 58%, 1);
$robin-egg-blue: hsla(178, 60%, 48%, 1);
$powder-blue: hsla(200, 23%, 72%, 1);
$gunmetal-2: hsla(200, 35%, 19%, 1);

/* SCSS RGB */
$gunmetal: rgba(25, 42, 50, 1);
$xanthous: rgba(242, 178, 55, 1);
$robin-egg-blue: rgba(49, 196, 190, 1);
$powder-blue: rgba(168, 190, 201, 1);
$gunmetal-2: rgba(31, 53, 64, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);
$gradient-right: linear-gradient(90deg, #192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);
$gradient-bottom: linear-gradient(180deg, #192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);
$gradient-left: linear-gradient(270deg, #192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);
$gradient-top-right: linear-gradient(45deg, #192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);
$gradient-bottom-right: linear-gradient(135deg, #192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);
$gradient-top-left: linear-gradient(225deg, #192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);
$gradient-bottom-left: linear-gradient(315deg, #192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);
$gradient-radial: radial-gradient(#192A32ff, #F2B237ff, #31C4BEff, #A8BEC9ff, #1F3540ff);